NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_SUPABASE_URL=https://mezwjbgxcxasdljvlbhe.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1lendqYmd4Y3hhc2RsanZsYmhlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE1NzgyNzUsImV4cCI6MjA3NzE1NDI3NX0.uKL5DTQs_vS_yeTb6DHe3cPU-EepiEqrn3bOvnJR3f0
