DATABASE_URL=postgresql://postgres:hBJ0jnwWLplmsLuo@db.mezwjbgxcxasdljvlbhe.supabase.co:5432/postgres
JWT_SECRET=4e9fa6844babeb53824e33499fe4bb5f2f6afb387896b1ed7e06caed362280ca
JWT_EXPIRES_IN=1h
JWT_REFRESH_SECRET=2035f7f632adb1e1f7d6496664117ae4e9af89db26fafe7df3b38bf8c52a5201
JWT_REFRESH_EXPIRES_IN=7d
SUPABASE_URL=https://mezwjbgxcxasdljvlbhe.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1lendqYmd4Y3hhc2RsanZsYmhlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MTU3ODI3NSwiZXhwIjoyMDc3MTU0Mjc1fQ.me6VuQWzCzJ90iFNvvuBXVGwrRkd26gsqpxhc2qojNQ
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
CLIENT_URL=http://localhost:3000
PORT=3001
